{% extends 'base.html' %}

{% block content %}
  <h1>Add an Event</h1>
  <form action="" method="POST">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="btn">
  </form>

  <script>
    const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: false,
      autoClose: true
    });

    const timeEl = document.getElementById('id_time');
    M.Timepicker.init(timeEl, {
      defaultTime: 'now',
      autoClose: true,
      twelveHour: true,
    });

    const selectEl = document.getElementById('id_celestial_objects');
    M.FormSelect.init(selectEl);

    timeEl.addEventListener('change', function(evt) {
      let [time, modifier] = evt.target.value.split(' ')
      let [hours, minutes] = time.split(':')
      console.log(hours, minutes, modifier)
      if (hours === '12') {
        hours = "00"
      }
      if (modifier === 'PM') {
        hours = parseInt(hours, 10) + 12
      }
      evt.target.value = `${hours}:${minutes}`
      console.log(evt.target.value)
    })


  </script>

{% endblock %}
