{% extends 'base.html' %}

{% block content %}
  <h1>Add an Event</h1>
  <form action="" method="POST">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="btn">
  </form>

  <script>
    const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: false,
      autoClose: true
    });

    const selectEl = document.getElementById('id_celestial_objects');
    M.FormSelect.init(selectEl);
  </script>

{% endblock %}
