{% extends 'base.html' %}

{% block content %}

<h1>Cosmic Event Details</h1>

<div class="card">
  <div class="card-content" style="color: white; background: purple;">
    <p>Name - {{ event.name }}</p>
    <p>Date - {{ event.date }}</p>   
    <p>Description - {{ event.description }}</p>
    <ul>Celestial Objects:
      {% if celestialobjects %}
        {% for celestialobject in celestialobjects %}
        <a href=""><li>{{ celestialobject.name }}</li>
        {% endfor %}
      {% else %}
        <li>No celestial objects associated with this event</li>
      {% endif %}
    </ul>
  </div>
  <div class="card-action">
    <a href="{% url 'events_update' event.id %}">Edit</a>
    <a href="{% url 'events_delete' event.id %}">Delete</a>
  </div>
</div>

{% endblock %}