{% extends 'base.html' %}

{% block content %}

<h1>Cosmic Event Details</h1>

<div class="card" style="color: white; background-image: url(https://i.imgur.com/Bl8jv0P.png);">
  <div class="card-content" style="color: white; background-image: url(https://i.imgur.com/Bl8jv0P.png);">
    <p>Name - {{ event.name }}</p>
    <p>Date - {{ event.date }}</p>   
    <p>Description - {{ event.description }}</p>
    <ul>Celestial Objects:
      {% if celestialobjects %}
        {% for celestialobject in celestialobjects %}
        <a href=""><li>{{ celestialobject.name }}</li>
        {% endfor %}
      {% else %}
        <li>No celestial objects associated with this event</li>
      {% endif %}
    </ul>
  </div>
  <div class="card-action" style="color: white; background-image: url(https://i.imgur.com/Bl8jv0P.png);">
    <a href="{% url 'events_update' event.id %}">Edit</a>
    <a href="{% url 'events_delete' event.id %}">Delete</a>
  </div>
  {% for photo in event.photo_set.all %}
      <img class="responsive-img card-panel" src="{{photo.url}}" style="color: white; background-image: url(https://i.imgur.com/Bl8jv0P.png);">
    {% empty %}
      <div class="card-panel teal-text center-align" style="color: white; background-image: url(https://i.imgur.com/Bl8jv0P.png);">No Photos Uploaded</div>
    {% endfor %}
    <form action="{% url 'add_photo' event.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
      {% csrf_token %}
      <input type="file" name="photo-file">
      <br><br>
      <button type="submit" class="btn">Upload Photo</button>
  </form>
</div>

{% endblock %}