{% extends 'base.html' %}

{% block content %}

<h1>Celestial Events</h1>

<div class="filter-form"> 
  <p>Filter events by date:</p>
  <form method="get" class="filter-table">
    {{ form.as_table }}
    <button type="submit" class="btn">Filter</button>
  </form>
</div>


{% for event in events %}
  <div class="card">
    <a href="{% url 'events_detail' event.id %}">
        <div class="card-content">
            <span class="card-title">{{ event.name }}</span>
            <p>Date - {{ event.date }}</p>   
            <p>Time - {{ event.time }}</p>   
            <p>Description - {{ event.description }}</p>
            <!-- <p>User - {{ event.user }}</p> -->
            <ul>Celestial Objects:
                {% for celestial_object in event.celestial_objects.all %}
                  <li>{{ celestial_object.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </a>
  </div>
{% empty %}
  <li> No events found for this date range.</li>
{% endfor %}

<script>
  const startDateEl = document.getElementById('id_start_date');
  M.Datepicker.init(startDateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  const endDateEl = document.getElementById('id_end_date');
  M.Datepicker.init(endDateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

</script>

{% endblock %}