body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(31, 3, 31);
  background-image: url("https://i.imgur.com/Bl8jv0P.png");
}
main {
  flex: 1 0 auto;
}
nav {
  background-color: black;
  font-family: 'Trispace', sans-serif;
  position: auto;
} 
@media screen and (max-width: 600px) {
  
}
footer.page-footer {
  padding-top: 0;
  text-align: right;
  margin-top: auto;
  bottom: 0;
  background-color: rgb(31, 3, 31);
  color: rgb(66, 66, 66);
}
li {
  color: rgb(196, 255, 252);
}
ul {
  margin: auto;
  color: rgb(119, 254, 247);
}
a {
  color: rgb(255, 255, 255);
}
p {
  color: rgb(255, 255, 255);
}
.tab {
  color: rgb(0, 224, 0);
}
h1 {
  color: rgb(203, 178, 227);
  font-family: 'Trispace', sans-serif;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}
h2 {
  color: rgb(203, 178, 227);
  font-family: 'Trispace', sans-serif;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}
h3 {
  font-family: 'Trispace', sans-serif;
}
h4 {
  color:rgb(224, 220, 227);
  font-family: 'Trispace', sans-serif;
}
table {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.about_people {
  color: rgb(99, 213, 99);
  flex-direction: column;
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
#id_description, #id_date, #id_name, #id_password, #id_username, #id_password1, #id_password2, #id_last_appearance, #id_discovered_by, #id_age, #id_start_date, #id_end_date {
  color: white;
}
#id_time {
  color: white;
}
.timepicker-canvas-bg {
  color: black;
  fill: black;
}
.timepicker-canvas-bearing {
  color: black;
  fill: black;
}
.timepicker-canvas line {
  stroke: black;
}
.timepicker-digital-display {
  background-color: rgba(26, 0, 6, 0.71);
}
.timepicker-plate {
  background-image: url("https://i.imgur.com/Bl8jv0P.png");
}
.timepicker-analog-display {
  background-image: url("https://i.imgur.com/Bl8jv0P.png");
}
.timepicker-tick {
  color: white;
}
.timepicker-close {
  color: white;
}
label {
  color: white;
}
.helptext {
  color: white;
}
.select-wrapper input.select-dropdown {
  color: white;
}
.modal {
  background-image: url("https://i.imgur.com/Bl8jv0P.png");
}
.datepicker-date-display {
  background-image: url("https://i.imgur.com/Bl8jv0P.png");
  color: white;
}
.datepicker-day-button {
  color: white;
}
.datepicker-table td.is-selected {
  background-color: rgb(108, 195, 221);
}
.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
  color: white;
}
.dropdown-content li>span {
  color: white;
  background-image: url("https://i.imgur.com/Bl8jv0P.png");
}
.select-wrapper:hover {
  background-color: hsla(0, 100%, 90%, 0.3);
}
.card {
  color: white; 
  background-image: url(https://i.imgur.com/Bl8jv0P.png);
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.card-panel {
  background-image: url(https://i.imgur.com/Bl8jv0P.png);
}
.card-title {
  color: white;
  font-family: 'Trispace', sans-serif;
}
.daily-home {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.filter-form {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  font-size: small;
  flex-wrap: wrap;
}
.btn {
  background-color: hsla(0, 100%, 90%, 0.499);
  position: static;
  border-radius: 1rem;
  /* margin-left: 50%; */
}
.btn:hover {
  background-color: hsla(0, 100%, 90%, 0.3);
}
.btn-delete {
  color: rgb(160, 0, 0);
  background-color: hsla(0, 100%, 90%, 0.499);
  border-radius: 1rem;
  font-size: small;
  border: none;
  padding: 10px;  
}
.btn-delete:hover {
  background-color: hsla(0, 100%, 90%, 0.3);
}
.filter-button {
  background-color: black;
  color: white;
}
input[type="file"] {
  display: none;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input[type="file"] {
  display: none;
}

label.custom-file-upload {
  display: block;
  color: white;
  background-color: hsla(0, 100%, 90%, 0.499);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 1rem;
}
label.custom-file-upload:hover {
  background-color: hsla(0, 100%, 90%, 0.3);
}
input[type="submit"]:hover {
  background-color: #000000;
}
.login-form {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}
.signup-form {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}