body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(31, 3, 31);
    background-image: url("https://i.imgur.com/Bl8jv0P.png");
}
main {
    flex: 1 0 auto;
}
nav {
  background-color: black;
  font-family: 'Trispace', sans-serif;
}  
footer.page-footer {
  padding-top: 0;
  text-align: right;
  margin-top: auto;
  bottom: 0;
  background-color: rgb(31, 3, 31);
  color: rgb(66, 66, 66);
}
li {
  color: white;
}
h1 {
  color: rgb(203, 178, 227);
  font-family: 'Trispace', sans-serif;
}
h2 {
  color: rgb(203, 178, 227);
}
h4 {
  color:rgb(224, 220, 227);
}
.btn {
  background-color: black;
}
p {
  color: white;
}
#id_description, #id_date, #id_name, #id_password, #id_username, #id_password1, #id_password2, #id_last_appearance {
  color: white;
}
