body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(31, 3, 31);
  background-image: url("https://i.imgur.com/Bl8jv0P.png");
}
main {
  flex: 1 0 auto;
}
nav {
  background-color: black;
  font-family: 'Trispace', sans-serif;
} 
footer.page-footer {
  padding-top: 0;
  text-align: right;
  margin-top: auto;
  bottom: 0;
  background-color: rgb(31, 3, 31);
  color: rgb(66, 66, 66);
}
li {
  color: white;
}
ul {
  margin: auto;
}
a {
  color: rgb(0, 201, 223);
}
p {
  color: rgb(0, 201, 223);
}
.tab {
  color: rgb(0, 224, 0);
}
h1 {
  color: rgb(203, 178, 227);
  font-family: 'Trispace', sans-serif;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}
h2 {
  color: rgb(203, 178, 227);
  font-family: 'Trispace', sans-serif;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}
h4 {
  color:rgb(224, 220, 227);
  font-family: 'Trispace', sans-serif;
}
table {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.about_people {
  color: rgb(99, 213, 99);
  flex-direction: column;
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  background-color: hsla(0, 100%, 90%, 0.499);
  position: static;
  border-radius: 1rem;
  margin-left: 50%;
}
.btn:hover {
  background-color: hsla(0, 100%, 90%, 0.3);
}
#id_description, #id_date, #id_name, #id_password, #id_username, #id_password1, #id_password2, #id_last_appearance, #id_discovered_by, #id_age {
  color: white;
}
label {
  color: white;
}
.helptext {
  color: white;
}
.select-wrapper input.select-dropdown {
  color: white;
}
.modal {
  background-image: url("https://i.imgur.com/Bl8jv0P.png");
}
.datepicker-date-display {
  background-image: url("https://i.imgur.com/Bl8jv0P.png");
  color: white;
}
.datepicker-day-button {
  color: white;
}
.datepicker-table td.is-selected {
  background-color: rgb(108, 195, 221);
}
.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
  color: white;
}
.dropdown-content li>span {
  color: white;
  background-image: url("https://i.imgur.com/Bl8jv0P.png");
}
.select-wrapper:hover {
  background-color: hsla(0, 100%, 90%, 0.3);
}
.card {
  color: white; 
  background-image: url(https://i.imgur.com/Bl8jv0P.png);
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.daily-home {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.login-form {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}
.signup-form {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}